*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/campominato.jpg);
    background-size: cover;
}

table{
    background-color: rgba(64, 224, 208, 0.5);
}

.column{
    width: 120px;
    height: 120px;
    font-size: 25px;
    border: 1px solid black;
}

.bg-color{
    background-color: rgb(8, 119, 188, 0.8);
}

.select{
    background-color: rgba(255, 255, 255, 0.5);
}

.bomb{
    background-color: rgba(255, 0, 0, 0.5);
}

#score{
    font-size: 25px;
    color: white;
}